*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background: #34495e;
    height: 140px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 40px;
    line-height: 60px;
    padding: 0 50px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 10px 10px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #dfebf4;
    color: black;
    border: 1px solid transparent;
    transition: .5s;
  }
  button {
    background: #0e000099;
    color: #f6f5f5;
    font-weight: 500;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
  }
  
  button:hover {
    color: #090000;
    border-color: #fff;
    background: rgb(241, 237, 237);
  }
  
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    scroll-behavior: unset;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: whitesmoke;
      color: #070000;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
  .imgslider{
    width: 100%;
    height: 600px;
    background-image: url(h2.jpeg);
    background-size: 100% 100%;
    box-shadow: grey;
    animation: changeimage 20s linear infinite;
  }
  @keyframes changeimage {
    0%{
        background-image: url(h1.jpg);
    }
    20%{
        background-image: url(h2.jpeg);
    }
    40%{
        background-image: url(h3.png);
    }
    60%{
        background-image: url(h4.jpg);
    }
    80%{
        background-image: url(h5.jpg);
    }
    100%{
        background-image: url(h6.jpg);
    }
    
  }